
.cardImage {
  max-width: 300px;
  border: 60px solid;
  border-image-slice: 310 217 224 200;
  border-image-width: 50px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url(assets/images/frame_02.png);
}
