@import './assets/fonts/fonts.scss';
@import './components/header/Header.scss';
@import './components/loader/Loader.scss';
@import './pages/home/Home.scss';
@import './components/hero/Hero.scss';
@import './pages/gallery/Gallery.scss';
@import './components/card/Card.scss';
@import './pages/nopage/NoPage.scss';
@import './components//astra/Astra.scss';

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.pages {
  padding-top: 10vh;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
